@charset 'UTF-8';

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to right, rgba(228, 236, 104, 0.69), #6cab6c, rgba(216, 91, 81, 0.89));
    overflow: hidden;
}
.content{
    right: 0%;
    transition-duration: 3s;
}
.content-hide{
    height: 100%;
    position: absolute;
    width: 100%;
    right: 200%;
    transition-duration: 3s;
}
.header h1{
    padding: 1em 0em 1.5em;
    font-size: 4em;
    z-index: 3;
}
.x-btn:hover{
    color : rgba(115, 97, 97, 0.43)!important;
    z-index : 6;
}
.x-btn{
        display: none;
    position: absolute!important;
    top: 0!important;
    font-size: 3em!important;
    color: rgba(241, 236, 236, 0.43)!important;
    margin-top: -15%;
    right: 0!important;
    margin-right: 2%;
    z-index: 5;
}

.selecionar-palavra-btn{
    margin-bottom: 2em;
    background: rgba(155, 236, 136, 0.85);
    border: none;
    font-size: 2em;
    padding: 0.7em 1em;
    border-radius: 0.2em;
    color: white;
    outline: 0;
}
.play-palavra-click{
        background: rgba(120, 113, 216, 0.81);
    color: white;
    transform: rotate(0deg);
    height: 35em;
    position: absolute;
    top: -27.7em;
     left: 0em; 
    display: flex;
    align-items: center;
    width: 100%;
    /* text-align: center; */
    font-size: 3em;
    cursor: pointer;
    z-index: 3;
    transition-duration: .8s;
        transition-timing-function: ease-in-out;
}
.play-frase-click{
        color: white;
    transform: rotate(0deg);
    height: 13em;
    position: absolute;
    top: -5.7em;
    left: -2.4em;
    display: flex;
    align-items: center;
    width: 110%;
    /* text-align: center; */
    font-size: 3em;
    background: rgba(107, 185, 89, 0.75);
    cursor: pointer;
    transition-duration: .8s;
    z-index: 3;
    transition-duration: 0.5s;
}
.play-both-click{
        background: rgba(214, 91, 91, 0.66);
    color: white;
    transform: rotate(0deg);
    height: 13em;
    position: absolute;
    top: -5.7em;
    left: 0px;
    display: flex;
    align-items: center;
    width: 110%;
    /* text-align: center; */
    font-size: 3em;
    cursor: pointer;
    z-index: 3;
    transition-duration: 0.5s;
}
.play-palavra:hover{
    border: solid;
    border-width: 8px;
    border-color: #9adaef;
    z-index: 3;
    transition-duration: 0.4s;
}
.play-frase:hover{
    z-index: 3;
    border-bottom: solid;
    border-width: 8px;
    border-color: white;
    transition-duration: 0.4s;
}
.play-both:hover{
    border-bottom: solid;
    border-width: 8px;
    border-color: rgb(195, 44, 44);
    transition-duration: 0.4s;
}
.play-palavra{
    background: rgba(120, 113, 216, 0.81);
    color: white;
    transform: rotate(-37deg);
    height: 38em;
    position: absolute;
    top: -31em;
    left: -19em;
    display: flex;
    align-items: center;
    width: 100%;
    /* text-align: center; */
    font-size: 3em;
    cursor: pointer;
    transition-duration: .8s;
}
.play-palavra p {
    color: white;
    text-align: center;
    position: absolute;
    right: 10em;
    bottom: 0em;
}
.play-palavra-click p{
    color: white;
    text-align: center;
    position: absolute;
    right: 11em;
    bottom: 0em;
}
.play-frase{
    background: rgb(107, 185, 89);
    color: white;
    transform: rotate(-37deg);
    height: 7em;
    position: absolute;
    top: -1.4em;
    left: -2.4em;
    display: flex;
    align-items: center;
    width: 110%;
    /* text-align: center; */
    font-size: 3em;
    cursor: pointer;
    transition-duration: 0.5s;
}
.play-frase p {
    color: white;
    text-align: center;
    position: absolute;
    right: 11em;
    bottom: 0em;
}
.play-frase-click p{
    color: white;
    text-align: center;
    position: absolute;
    right: 13em;
    bottom: 0em;
}
.play-both{
    background: #d65b5b;
    color: white;
    transform: rotate(-37deg);
    height: 7em;
    position: absolute;
    top: 0.6em;
    left: 6.6em;
    display: flex;
    align-items: center;
    width: 110%;
    /* text-align: center; */
    font-size: 3em;
    cursor: pointer;
    transition-duration: 0.5s;
}
.play-both p {
    color: white;
    text-align: center;
    position: absolute;
    right: 19em;
    bottom: 0em;
    font-size: 0.6em;
}
.play-both-click p {
    color: white;
    text-align: center;
    position: absolute;
    right: 15em;
    bottom: 0em;
    font-size: 0.8em;
}
.body-content i:hover{
    color: yellow;
    transition-duration: 0.3s;
}
.body-content .i{
    position: absolute;
    bottom: -6em;
    right: 1em;
    font-size: 4em;
    cursor: pointer;
}
.list-categories-palavra, .list-categories-frase,.list-categories-fraseepalavra{
    position: absolute;
    bottom: 2em;
    left: 40%;
    display: none;
}
.list-categories-palavra button, .list-categories-frase button, .list-categories-fraseepalavra button{
    font-size: 1em;
    background: none;
    border: none;
    color: black;
}
.list-categories-palavra li, .list-categories-frase li, .list-categories-fraseepalavra li{
    list-style: none;
}

.multiplayer-construct{
    z-index: 5000;
    position: absolute;
    background: rgba(255, 255, 255, 0.88);
    top: 23%;
    left: 30%;
    height: 25em;
    padding: 3em;
    border-radius: 0.4em;
}

.multiplayer-construct input[type="submit"]{
    padding: 1em;
    margin-top: 2em;
    background: #6bb959;
    border: none;
    border-radius: 0.3em;
    color: white;
}
/*Jogo*/
.jogo{
    transform : scale(0)
}
.jogo-show{
    transition : all 2000ms;
    transform : scale(1)
}

.linhas{
    font-size: 10em;
}
.btn-forca{
    font-size: 2em;
    padding: 0em 0.5em;
    border: solid;
    border-width: 1px;
    background: #c5c0c0;
    outline: 0;
    border-radius: 0.3em;
    border-color: #fafafb;
}
.btn-forca-disabled{
        background: #e66464;
}
.btn-forca-active{
    background: #64e668;
}

.erros{
    margin-top: 3em;
    font-size: 1.5em;
    color: red;
}


.modal-ranking, .modal-parabens, .modal-final, .modal-parabens-multiplayer{
    display: none;
    background: rgba(68, 68, 68, 0.74);
    padding: 1em 2em 4em;
    margin-top: 10%;
    border-radius: 0.5em;
    color: white;
    font-size: 1.3em;
    z-index: 500000;
}
.modal-ranking, .modal-final{
    margin-top: 3%;
}
.modal{
    display: none;
    background: rgba(0, 0, 0, 0.27);
}
.btn-proximo{
    margin-bottom: 0.5em;
    margin-top: .5em;
    background: #6eb36e;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    outline: 0;
}
.btn-voltar{
    background: #aba3a3;
    border: none;
    border-radius: 0.3em;
}
.pontos{
    font-size: 2em;
    position: fixed;
    top: 0.5em;
    right: 1em;
    display: none;
}
.usuario{
    display : none;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.88);
    padding: 2em 2em;
    font-size: 1.4em;
    position: absolute;
    top: 26%;
}
.btn-reiniciar{
    background: #49a84c;
    border: none;
    border-radius: 0.3em;
}
.multiplayer-construct{
    display: none;
}
.reiniciar{
    cursor: pointer;
    position: absolute;
    top: 1%;
    font-size: 3em;
    right: 4%;
    color: #b9b7b7;
}
.fechar{
    cursor: pointer;
    position: absolute;
    top: 1%;
    font-size: 3em;
    right: 4%;
    color: #b9b7b7;
}

/*Media Queries*/

@media (min-width: 1500px){
    .play-frase{
        background: rgb(107, 185, 89);
        color: white;
        transform: rotate(-37deg);
        height: 7em;
        position: absolute;
        top: -0.5em;
        left: -3.4em;
        display: flex;
        align-items: center;
        width: 110%;
        /* text-align: center; */
        font-size: 3em;
        cursor: pointer;
    }
    .body-content i{
        position: absolute;
        bottom: -6.5em;
        right: 1em;
        font-size: 5em;
        cursor: pointer;
    }
}
@media (min-width: 1700px){
    .play-frase{
        background: rgb(107, 185, 89);
        color: white;
        transform: rotate(-37deg);
        height: 7em;
        position: absolute;
        top: -0.6em;
        left: -3.4em;
        display: flex;
        align-items: center;
        width: 110%;
        /* text-align: center; */
        font-size: 3em;
        cursor: pointer;
    }
    .play-both p {
        color: white;
        text-align: center;
        position: absolute;
        right: 13em;
        bottom: 0em;
    }
    .body-content i {
        position: absolute;
        bottom: -6.5em;
        right: 1em;
        font-size: 6em;
        cursor: pointer;
    }
}

@media (min-width: 1800px){
    .play-frase{
        background: rgb(107, 185, 89);
        color: white;
        transform: rotate(-37deg);
        height: 7em;
        position: absolute;
        top: -0.7em;
        left: -3.4em;
        display: flex;
        align-items: center;
        width: 110%;
        /* text-align: center; */
        font-size: 3em;
        cursor: pointer;
    }
    .play-palavra p {
        color: white;
        text-align: center;
        position: absolute;
        right: 14em;
        bottom: 0em;
    } 
    .play-frase p {
        color: white;
        text-align: center;
        position: absolute;
        right: 19em;
        bottom: 0em;
    } 
    .play-both p {
        color: white;
        text-align: center;
        position: absolute;
        right: 15em;
        bottom: 0em;
    }
    .body-content i {
        position: absolute;
        bottom: -6.5em;
        right: 1em;
        font-size: 6em;
        cursor: pointer;
    }
}

@media (min-width: 2000px){
    .play-palavra{
        background: rgba(120, 113, 216, 0.81);
        color: white;
        transform: rotate(-37deg);
        height: 38em;
        position: absolute;
        top: -31em;
        left: -19em;
        display: flex;
        align-items: center;
        width: 100%;
        /* text-align: center; */
        font-size: 3em;
        cursor: pointer;
    }
    .play-frase{
        background: rgb(107, 185, 89);
        color: white;
        transform: rotate(-37deg);
        height: 9em;
        position: absolute;
        top: 0.8em;
        left: -5.4em;
        display: flex;
        align-items: center;
        width: 110%;
        /* text-align: center; */
        font-size: 3em;
        cursor: pointer;
    }
    .play-both{
        background: #d65b5b;
        color: white;
        transform: rotate(-37deg);
        height: 8em;
        position: absolute;
        top: 2.6em;
        left: 7.1em;
        display: flex;
        align-items: center;
        width: 110%;
        /* text-align: center; */
        font-size: 3em;
        cursor: pointer;
    }
    .play-palavra p {
        color: white;
        text-align: center;
        position: absolute;
        right: 23em;
        bottom: 0em;
    } 
    .play-frase p {
        color: white;
        text-align: center;
        position: absolute;
        right: 22em;
        bottom: 0em;
    } 
    .play-both p {
        color: white;
        text-align: center;
        position: absolute;
        right: 20em;
        bottom: 0em;
    }
    .body-content i {
        position: absolute;
        bottom: -6.5em;
        right: 1em;
        font-size: 7em;
        cursor: pointer;
    }
}

@media (min-width: 2100px){
    .play-palavra{
            background: rgba(120, 113, 216, 0.81);
    color: white;
    transform: rotate(-37deg);
    height: 38em;
    position: absolute;
    top: -30em;
    left: -19em;
    display: flex;
    align-items: center;
    width: 100%;
    /* text-align: center; */
    font-size: 3em;
    cursor: pointer;
    }
    .play-frase{
            background: rgb(107, 185, 89);
    color: white;
    transform: rotate(-37deg);
    height: 9em;
    position: absolute;
    top: 1.8em;
    left: -6.4em;
    display: flex;
    align-items: center;
    width: 110%;
    /* text-align: center; */
    font-size: 3em;
    cursor: pointer;
    }
    .play-both{
            background: #d65b5b;
    color: white;
    transform: rotate(-37deg);
    height: 10em;
    position: absolute;
    top: 5.6em;
    left: 3.7em;
    display: flex;
    align-items: center;
    width: 110%;
    /* text-align: center; */
    font-size: 3em;
    cursor: pointer;
    }
    .play-palavra p {
        color: white;
        text-align: center;
        position: absolute;
        right: 34em;
        bottom: 0em;
    } 
    .play-frase p {
        color: white;
        text-align: center;
        position: absolute;
        right: 30em;
        bottom: 0em;
    } 
    .play-both p {
        color: white;
        text-align: center;
        position: absolute;
        right: 24em;
        bottom: 0em;
    }
    .body-content i {
        position: absolute;
        bottom: -6.5em;
        right: 1em;
        font-size: 10em;
        cursor: pointer;
    }
}