@charset "UTF-8";

.row{
    margin: 0;
}

.container{
    margin-top: 2em;
}

.options button{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.criar-palavra, .criar-frase, .criar-categoria{
    display: none;
}