<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Jogo da Forca Ulbra</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="../../forcaUlbra/static/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../forcaUlbra/static/css/style2.css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="row">
                <div class="container col-md-12 text-center">
                    <div class="options col-md-8 col-md-offset-2 text-center">
                            <button type="button" class="col-md-8 col-md-offset-2" id="criar-palavra">Criar Palavra</button>
                            <button type="button" class="col-md-8 col-md-offset-2" id="criar-frase">Criar Frase</button>
                            <button type="button" class="col-md-8 col-md-offset-2" id="criar-categoria">Criar Categoria</button>
                            <button type="button" class="col-md-8 col-md-offset-2" id="editar-palavra">Editar Palavra</button>
                            <button type="button" class="col-md-8 col-md-offset-2" id="editar-frase">Editar Frase</button>
                            <button type="button" class="col-md-8 col-md-offset-2" id="editar-categoria">Editar Categoria</button>
                            <button type="button" class="col-md-8 col-md-offset-2" id="excluir-palavra">Excluir Palavra</button>
                            <button type="button" class="col-md-8 col-md-offset-2" id="excluir-frase">Excluir Frase</button>
                            <button type="button" class="col-md-8 col-md-offset-2" id="excluir-categoria">Excluir Categoria</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="conteudo col-md-6 col-md-offset-3 text-center">
                <div class="criar-palavra">
                    <div class="row">
                        <div class="form-group">
                            <label for="palavra">Digite a Palavra</label>
                            <input type="text" name="palavra" class="col-md-8 form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="dica-multiplayer">Selecione a Categoria</label>                
                            <select id="categorias">
                                <%for(var i = 0; i < data.length; i++){%>
                                    <%if(data[i].tipo == 'palavra'){%>
                                        <option value="<%=data[i].categoria%>"><%=data[i].categoria%></option>
                                    <%}%>
                                <%}%>
                            </select>
                        </div>
                        <input type="submit" id="criar-palavra" value="Criar Palavra">
                    </div>
                </div>
                <div class="criar-frase">
                    <div class="row">
                        <div class="form-group">
                            <label for="palavra">Digite a Frase</label>
                            <input type="text" name="palavra" class="col-md-8 form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="dica-multiplayer">Selecione a Categoria</label>                
                            <select id="categorias">
                                <%for(var i = 0; i < data.length; i++){%>
                                    <%if(data[i].tipo == 'frase'){%>
                                        <option value="<%=data[i].categoria%>"><%=data[i].categoria%></option>
                                    <%}%>
                                <%}%>
                            </select>
                        </div>
                        <input type="submit" id="criar-frase" value="Criar Frase">
                    </div>
                </div>
                <div class="criar-categoria">
                    <div class="row">
                        <div class="form-group">
                            <label for="palavra">Digite a Categoria</label>
                            <input type="text" name="palavra" class="col-md-8 form-control" required>
                        </div>
                        <input type="submit" id="criar-categoria" value="Criar Categoria">
                    </div>
                </div>
            
                
            </div>
        </div>
    <script src="../../forcaUlbra/static/js/jQuery.min.js"></script>
    <script src="../../forcaUlbra/static/js/config.js"></script>
    </body>
</html>