<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Jogo da Forca Ulbra</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="../../forcaUlbra/static/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../forcaUlbra/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="header">
                <div class="row">
                    <h1 class=" text-center col-md-6">Jogo da Forca da Ulbra</h1>                    
                </div>
            </div>
            <div class="body-content text-center col-md-12">
                <div class="row">
                    <i class="x-btn fa fa-times" aria-hidden="true"></i>                    
                    <div id="play-palavra" class="play-palavra">
                        <div class="list-categories-palavra">
                            <h3>Selecione a categoria:</h3>
                            <%for(var i = 0; i < data.length; i++){%>    
                                <%if(data[i].tipo == 'palavra'){%> 
                                    <li><button type="button"  id="iniciarJogo<%=data[i]._id%>"><%=data[i].categoria%></button></li>
                                <%}%>
                            <%}%>
                        </div>
                        <p>Jogar com Palavra</p>
                    </div>
                    <div class="play-frase" id="play-frase">
                        <div class="list-categories-frase">
                            <h3>Selecione a categoria:</h3>
                            <%for(var i = 0; i < data.length; i++){%>     
                                <%if(data[i].tipo == 'frase'){%> 
                                    <li><button type="button"  id="iniciarJogo<%=data[i]._id%>"><%=data[i].categoria%></button></li>
                                <%}%>                                
                            <%}%>
                        </div>
                        <p>Jogar com Frase</p>
                        </div>
                    <div class="play-both" id="play-both">
                        <div class="list-categories-fraseepalavra">
                            <h3>Selecione a categoria:</h3>
                            <%for(var i = 0; i < data.length; i++){%>     
                                <%if(data[i].tipo == 'palavra'){%> 
                                    <li><button type="button" class="both-id"  id="iniciarJogo<%=data[i]._id%>"><%=data[i].categoria%></button></li>
                                <%}%>                                
                            <%}%>
                        </div>
                        <p>Jogar com Palavra e Frase</p>
                    </div>
                    <div class="i">
                        <i class="fa fa-trophy" id="visualizar-ranking" aria-hidden="true"></i>
                        <i class="fa fa-users" id="multiplayer" aria-hidden="true"></i>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="jogo row col-md-12 text-center">
            <h1></h1>
            <p class="linhas"></p>
            <div class="letras"></div>
            <p class="erros"></p>
        </div>
        
        <div class="modal">
            <div class="modal-ranking col-md-4 col-md-offset-4 text-center">
                <h2>Você Perdeu!</h2>
                <p>Ranking:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Jogador</td>
                            <td>Posição</td>
                            <td>Pontos</td>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <i class="fa fa-times reiniciar" aria-hidden="true" ></i>
            </div>
            <div class="modal-parabens col-md-4 col-md-offset-4 text-center">
                <h2>Você Acertou!</h2>
                <button class="row col-md-6 col-md-offset-3 btn-proximo">Próxima</button>
                <button class="row col-md-6 col-md-offset-3 btn-voltar">Selecionar Categoria</button>
            </div>
            <div class="modal-final col-md-4 col-md-offset-4 text-center">
                <h2>Você Ganhou!</h2>
                <p>Ranking:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Jogador</td>
                            <td>Posição</td>
                            <td>Pontos</td>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
                <i class="fa fa-times reiniciar" aria-hidden="true"></i>
            </div>  
        </div>
        <div class="pontos">0</div>
        <div class="usuario col-md-12 text-center">
            <label for="usuario">Coloque o seu nome:</label>
            <input type="text" name="usuario">
            <button>OK</button>
        </div>
        <div class="multiplayer-construct col-md-4 text-center">
            <div class="row">
                <div class="form-group">
                    <label for="palavra-multiplayer">Digite a Palavra</label>
                    <input type="text" name="palavra-multiplayer" class="col-md-8 form-control" required>
                </div>
                <div class="form-group">
                    <label for="dica-multiplayer">Digite a Dica</label>                
                    <input type="text" name="dica" class="col-md-8 form-control" required>
                </div>
                <div class="form-group">
                    <label for="email-multiplayer">Digite o Seu E-mail</label>                
                    <input type="email" name="email" class="col-md-8 form-control" required>
                </div>
                <input type="submit" id="criar-jogo-multiplayer" value="Criar Jogo">

                <i class="fa fa-times fechar" aria-hidden="true"></i>
            </div>
        </div>

        <input type="hidden" value="not" class="tipo-jogo">



    <script src="../../forcaUlbra/static/js/jQuery.min.js"></script>
    <script src="../../forcaUlbra/static/js/home.js"></script>
    <script src="../../forcaUlbra/static/js/multiplayer.js"></script>
    </body>
</html>