<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Jogo da Forca Ulbra</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="../../forcaUlbra/static/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../forcaUlbra/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            
        </div>
        <div class="jogo row col-md-12 text-center">
            <h1></h1>
            <p class="linhas"></p>
            <div class="letras"></div>
            <p class="erros"></p>
        </div>
        
        <div class="modal">
            <div class="modal-ranking col-md-4 col-md-offset-4 text-center">
                <h2>Você Perdeu!</h2>
                <p>Ranking:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Jogador</td>
                            <td>Posição</td>
                            <td>Pontos</td>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <i class="fa fa-times reiniciar" aria-hidden="true" ></i>
            </div>
            <div class="modal-parabens-multiplayer col-md-4 col-md-offset-4 text-center">
                <h2>Você Acertou!</h2>
                <button class="row col-md-6 col-md-offset-3 btn-reiniciar">Clique para voltar ao jogo</button>
            </div>
        </div>
        <div class="pontos">0</div>
        <div class="usuario col-md-12 text-center">
            <label for="usuario">Coloque o seu nome:</label>
            <input type="text" name="usuario">
            <button>OK</button>
        </div>

        <input type="hidden" value="multiplayer" class="tipo-jogo">

        


    <script src="../../forcaUlbra/static/js/jQuery.min.js"></script>
    <script src="../../forcaUlbra/static/js/home.js"></script>
    <script src="../../forcaUlbra/static/js/createMultiplayer.js"></script>
    </body>
</html>